<br>
<div class="row">
	<div class="col-md-12 text-center">
		<button type="button" class="btn btn-outline-primary"
			(click)="isCollapsed = !isCollapsed" (click)="getClientsList()"
			[attr.aria-expanded]="!isCollapsed" aria-controls="clients-list">Clients
			list</button>
		<button type="button" class="btn btn-outline-primary"
			(click)="isCollapsed2 = !isCollapsed2"
			[attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample">Add
			client</button>
	</div>
</div>
<br>
<div class="row">
	<div id="clients-list" [ngbCollapse]="isCollapsed"
		class="col-md-6 text-center">
		<div class="card">
			<div class="card-block">
				<ol>
					<li *ngFor="let client of clients">
						<p>{{client.firstName}} {{client.lastName}} {{client.email}} {{client.documentDetails.documentType}}  {{client.documentDetails.documentNumber}}</p>
					</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="col-md-6 text-center">
		<div id="collapseExample" [ngbCollapse]="isCollapsed2">
			<div class="card">
				<div class="card-block">
					<br>
					<form class="container" [formGroup]="clientForm"
						(ngSubmit)="addDocumentDetails(clientForm.value)">
						<input type="text" placeholder="First Name"
							formControlName="firstName" class="btn btn-outline-primary">
						<br> <input type="text" placeholder="Last Name"
							formControlName="lastName" class="btn btn-outline-primary">
						<br> <input type="email" placeholder="Email"
							formControlName="email" class="btn btn-outline-primary">
						<br> <input type="number" placeholder="Telephone"
							formControlName="telephone" class="btn btn-outline-primary">
						<br> <input type="password" placeholder="Password"
							formControlName="password" class="btn btn-outline-primary">
						<br> <input type="date" placeholder="Birth Date"
							formControlName="birthDate" class="btn btn-outline-primary">
						<br> <input type="date" placeholder="Contract Start Date"
							formControlName="contractStart" class="btn btn-outline-primary">
						<br> <input type="date" placeholder="Contract End Date"
							formControlName="contractEnd" class="btn btn-outline-primary">
						<br>
						<div formGroupName="documentDetails">
							<input type="text" placeholder="Document Number"
								formControlName="documentNumber" class="btn btn-outline-primary">

							<select formControlName="documentType"
								class="form-control placeholder" class="btn btn-outline-primary">
								<option value disabled>Choose Document Type</option>
								<option value="IDCARD">ID card</option>
								<option value="PASSPORT">Passport</option>
							</select>
						</div>
						<input type="submit" [disabled]="!clientForm.valid"
							value="Add New Client" class="btn btn-outline-primary"><br>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>